.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);

  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);

  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);

  --primary: oklch(0.623 0.214 259.815);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);

  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);

  --accent: oklch(0.282 0.091 267.935);
  --accent-foreground: oklch(0.882 0.059 254.128);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.623 0.214 259.815);

  --chart-1: oklch(0.623 0.214 259.815);
  --chart-2: oklch(0.809 0.105 251.813);
  --chart-3: oklch(0.746 0.16 232.661);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.379 0.146 265.522);

  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);

  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(1 0 0);

  --sidebar-accent: oklch(0.282 0.091 267.935);
  --sidebar-accent-foreground: oklch(0.882 0.059 254.128);

  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.623 0.214 259.815);
}
