:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.21 0.02 255);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.21 0.02 255);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.21 0.02 255);

  --primary: oklch(0.36 0.09 255);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.96 0.005 255);
  --secondary-foreground: oklch(0.3 0.05 255);

  --muted: oklch(0.975 0.003 255);
  --muted-foreground: oklch(0.5 0.02 255);

  --accent: oklch(0.95 0.008 255);
  --accent-foreground: oklch(0.3 0.06 255);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.9 0.006 255);
  --input: oklch(0.88 0.006 255);
  --ring: oklch(0.45 0.09 255);

  --chart-1: oklch(0.36 0.09 255);
  --chart-2: oklch(0.707 0.165 254.624);
  --chart-3: oklch(0.685 0.169 237.323);
  --chart-4: oklch(0.424 0.199 265.638);
  --chart-5: oklch(0.379 0.146 265.522);

  --radius: 0.25rem;

  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.21 0.02 255);

  --sidebar-primary: oklch(0.36 0.09 255);
  --sidebar-primary-foreground: oklch(1 0 0);

  --sidebar-accent: oklch(0.96 0.005 255);
  --sidebar-accent-foreground: oklch(0.3 0.08 255);

  --sidebar-border: oklch(0.9 0.006 255);
  --sidebar-ring: oklch(0.45 0.09 255);
}
