spring.application.name=digital-wallet
server.port=8080
server.error.include-stacktrace=ALWAYS
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:postgresql://localhost:5432/digital-wallet
spring.datasource.username=postgres
spring.datasource.password=YOUR_DB_PASSWORD
spring.jpa.show-sql=true

jwt-secret=YOUR_JWT_SECRET
jwt-expiration-ms=86400000
