server.error.include-stacktrace=ALWAYS
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:postgresql://localhost:5432/digital-wallet
spring.datasource.username=postgres
spring.datasource.password=YOUR_DB_PASSWORD
spring.jpa.show-sql=true

jwt-secret=YOUR_JWT_SECRET
jwt-expiration-ms=86400000
auth-cookie-secure=false
cors-allowed-origins=http://localhost:5173

resend-api-key=YOUR_RESEND_API_KEY

spring.messages.fallback-to-system-locale=false
otp-secret=YOUR_OTP_SECRET
mail-from=Digital Wallet <onboarding@resend.dev>
mail-logo-url=https://almotawaj.com/logo/logo.png

storage-root=uploads
